
.DivParaSearch{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:auto;
    padding: 5px;
    background-color:white;
    align-items: center;
    border-right: 20px;
    margin-right:15px;
    margin-left: 12px;
    color: rgb(102, 92, 92)


}

    


    @media screen and (max-width: 350px) {

    .DivParaSearch{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    }
    }

