.ButtonList{
    display: flex;
    flex-direction: row;
    /* justify-content:start; */
    gap: 10px;
    background-color:transparent ;
    align-items: center;
    margin:5px 15px; 
    padding:5px 15px; 
    border-radius: 5px;
    border-bottom: 1px solid grey; 
    width: auto;
    
    
    
   
    
    
}

/* .ButtonTemplateStyle1{
    background-color:transparent;
    color:rgb(151, 134, 134);
    border:0px;
     cursor: pointer;
     

} */
/* .ButtonTemplateStyle{ text-decoration: none; }
.ButtonTemplateStyle:hover {text-decoration: underline color(green red green blue); }
     */
.ButtonStyle{
background-color: transparent;
color:grey;
width:auto
}

.headerButton{
    background-color:white;
    border:white;
    color:grey;
    cursor: pointer;

}